**/.env
**/dist
**/target
server.log
**/node_modules/
.node_modules/

~*.docx

dump.rdb

*.swp

**/.DS_Store
.settings

**/.vs
**/.vscode/*

.eslintcache
*v8.log

coverage/
**/coverage-summary.*
**/coverage.*
